.login-container {
  align-items: center;
  background-color: #222;
  background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffc107;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login-form {
  align-items: center;
  background-color: #222;
  border: 3px solid #ffc107;
  border-radius: 9px;
  box-shadow: 2px 2px 2px #ffc107;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  width: 70vh;
}

@media ( max-width : 700px ) {

  .login-form {
    width: 300px;
  }

  .login-form input {
    width: 175px;
  }
}
